<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Canvas Signature
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <div class="signature">
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()">
    </signature-pad>
  </div>
  

  <ion-item class="item-margin" lines="none">
    <ion-button class="danger-button" color="danger" (click)="clear()"> Clear</ion-button>
    <ion-button color="success" (click)="save()"> Save</ion-button>
  </ion-item>
  
</ion-content>

